<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780544279965-sdqe19eo52p7qgfofs158gsna5ql3l7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780544279965-sdqe19eo52p7qgfofs158gsna5ql3l7g</string>
	<key>API_KEY</key>
	<string>AIzaSyB3kHcPFEHK5MwR-2evwPEcoz8lVToqA40</string>
	<key>GCM_SENDER_ID</key>
	<string>780544279965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aalimmulji.Appointments</string>
	<key>PROJECT_ID</key>
	<string>appointments-28fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>appointments-28fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780544279965:ios:d8369e773aaa862f</string>
	<key>DATABASE_URL</key>
	<string>https://appointments-28fb0.firebaseio.com</string>
</dict>
</plist>